*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}
body{
  display:flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}
.kotak-permainan{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
  width: 300px;
  background:blue;
  padding: 10px;
  margin:10px auto;
  border-radius:10px;
}
.kartu-permainan{
  margin:1px auto;
  width: 75px;
  height: 100px;
  background: url('../media/backcard.webp') no-repeat center center / cover;
  border-radius: 10px;
  border:5px solid rgb(0,100,0);
}

#skor{
  width:100px;
  aspect-ratio: 1/1;
  background: whitesmoke;
  border:2px solid blue;
  display: inline-block;
  border-radius:10px;
  font-size:3rem;
  line-height: 100px;
  font-weight: 800;
}
#status{
  display:inline-block;
  padding: 10px;
  margin:10px auto;
  border-radius:10px;
}
#mulailagi{
  opacity: 0;
  border:2px solid yellow;
  background: rgba(223,223,32,1);
  padding: 10px;
  margin:10px auto;
  border-radius:10px;
}
.kalah{
  border:2px solid red;
  background: rgba(255,0,0,0.5)
}
.menang{
  border:2px solid green;
  background: rgba(0,255,0,0.5)
}