*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}
h1{
  position: absolute;
  top:10px;
}
body{
  display:flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  background:whitesmoke;
}
.kotak-permainan{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
  width: 300px;
  background:blue;
  padding: 10px;
  margin:20px auto;
  border-radius:10px;
}
.kartu-permainan{
  margin:1px auto;
  width: 75px;
  height: 100px;
  background: url('../media/backcard.webp') no-repeat center center / cover;
  border-radius: 10px;
  border:5px solid rgb(0,100,0);
}
.perhitungan{
  padding: 10px;
  margin:15px auto;
  display:flex;
  gap:10px;
  border:2px solid seagreen;
  border-radius:10px;
  background:greenyellow;
  position:relative;
  top:25px;
}
#skor,#win{
  width:100px;
  aspect-ratio: 1/1;
  background: whitesmoke;
  border:2px solid blue;
  display: inline-block;
  border-radius:10px;
  font-size:3rem;
  line-height: 100px;
  font-weight: 800;
}
#status{
  display:inline-block;
  padding: 10px;
  margin:10px auto;
  border-radius:10px;
  font-size:1.5rem;
  font-weight:bold;
}
#mulailagi{
  opacity: 0;
  border:2px solid yellow;
  background: rgba(223,223,32,1);
  padding: 10px;
  margin:10px auto;
  border-radius:10px;
  font-size:1.5rem;
  font-weight:bold;
}
.div p{
  font-weight:900;
  font-size:1.5rem;
}
.kalah{
  border:2px solid red;
  background: rgba(255,0,0,0.5)
}
.menang{
  border:2px solid green;
  background: rgba(0,255,0,0.5)
}
.kondisi{
  width:95vw;
  height:95vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  background:rgba(255,250,250,0.6);
  border-radius:10px;
  position: absolute;
  top:10px;
  z-index: -1;
  opacity:0;
}